.container{
    position: absolute;
    display: flex;
    flex-direction: row;
    height: 95.8%;

}

.inputnumber{
    display: flex;
    flex-direction: column;
    background-color: rgb(114, 5, 16);
    min-width: 600px;
    max-height: 100px;
 
}

.asidecontainer{
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1;
    background-color: rgba(251, 254, 123, 1);
}

.inputheader{
    padding: 30px;
    align-items: center;
    font-size: large;
    font-weight: 700;
}

.form{
    margin: 10px;
    display: grid;
    gap: 10px 80px;
    color: black;

   
}

.form div{
    display: grid;
    grid-template-columns: 170px 45px ;
}
.form input{
    max-width:35px;
    justify-content: right;
    display: inline; 
}

.button {
    display:inline;
    position: absolute;
    top:76%;
}

.button2 {
    left:10%
}

.button3 {
    left:20%;
}
  
.steps {
    display: flex;
    flex-direction: row;
    background-color: rgb(123, 123, 123);
    justify-content: space-between;
    width:100%;
    float:right;
    
}

img {
    width: 20pt;
    float: left;
    border: 2px solid #555;
      
   
}

.result_container{
    position: relative;
    padding: 100px;
    background-color: aqua;
    z-index:3;
    margin-left: 235px;
    margin-top: 100px;
    width:400px;
    height:162px

    
  
    
}
.inputresult{
    display: flex;
    flex-direction: row;
   
   
}

.output_container{
    display: flex;

    flex-direction: row;
    background-color: rgba(217, 217, 217, 1);
    border: 1px solid black;
    float:right;
    padding: 10px;
    align-items: center;
    font-size: smaller;
    font-weight: 700;
}

